/* Variables */
// Check out http://html-color.org/3399CC to select colors
$vin-blue: #3399cc;
$vin-green: #32CCB2;
$vin-red: #CC6632;
$vin-black: #4d4d4d;

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: $vin-black;  
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }


.center{
  text-align: center;
}

.homepage-content{
  min-width: 1000px;
  h1{
    font-size: 60px;
    line-height: 60px;
    margin: 0;
  }

  h2{
    font-family: monospace;
    margin: 0;
  }

  .header{
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 10;
  }
  
  img{
    width: 100%;
  }
}

.powerflag-content{
    text-align: center;

    .goal{
      color: $vin-red;
      font-size: 0.9em;
    }

    .quote{
      padding: 280px 4% 280px 4%;
    }

    h3{
      margin: 0;
      font-size: 1.6em;
    }

    h2{
      font-size: 4.5em;
      line-height: 70px;
      margin: 0;
    }

    p{
      margin: 0;
    }

    a{
      text-decoration: none;
    }
}

.motivation-content{
  padding: 0 4%;

  li{
    font-size: 0.8em;
  }
}